<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top aspe-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span><img class="pull-left aspe-logo-image" src="~/Content/aspe-logo-sm.png" alt="" height="40" /></span>
                    <div class="aspe-logo-text pull-left">ASPE INTRANET</div>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "D40")</li>
                 @*  <!-- <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li> --> *@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            </div>
    </nav>
   @* <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.ToString("dd/MM/yyyy") - ASPE Intranet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryfloat")
    <script>
    $(document).ready(function () {
        $(".hide1").click(function () {
            $(".t1").toggle();
            $(".floatThead-container").toggle();
        });
    });
    $(document).ready(function () {
        $(".hide2").click(function () {
            $(".t2").toggle();
        });
    });
    $(document).ready(function () {
        $(".hide3").click(function () {
            $(".t3").toggle();
        });
    });
    $(document).ready(function () {
        $(".scroll").click(function () {
            $(".t").toggleClass("scrolldiv")
            $(".table").toggleClass("inner window")
        });
    });
    $(document).ready(function () {
        $('.inner').floatThead({
            position: 'absolute',
            scrollContainer: true
        });
    });
    $(document).ready(function () {
        $('.window').floatThead({
            position: 'absolute'
        });
        $('.window').click(function () {
            $(this).parent().css("overflow","visible")
        });
    });
    </script>
</body>
</html>
