@model D40.ViewModels.NameIndexData

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model.Users)
{
    if (@item.Active)
    {
    <div class="container-fluid">
        <h3>@item.First_Name @item.Last_Name @item.Office</h3>
        <h4>Assets:</h4>
        @foreach (var asset in item.Assets)
        {
            <p>@asset.Category</p>
            <p>@asset.Asset_Tag</p>
            <p>@asset.Model</p>
            <p>@asset.Refresh_Date</p>
            <hr />
        }
        <h4>Software:</h4>
        @foreach (var software in item.Software)
        {
            <p>@software.Software.title</p>
            <hr />
        }
        <h4>Tickets:</h4>
        @foreach (var ticket in item.Tickets)
        {
            <p>@ticket.Ticket_Num</p>
            <p>@ticket.Open_Date</p>
            <p>@ticket.Description</p>
            <hr />
        }
    </div>
    }
}
