@model IEnumerable<D40.Models.Software>

@{
    ViewBag.Title = "Software List";
}

<h2>Software List</h2>

<p>
    @Html.ActionLink("Add Software", "newSoftware",null,htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr style="background-color:#d9edf7">
        <th>
            Software Title
        </th>
        <th>
            License Key
        </th>
        <th>
            # of Licenses
        </th>
        <th>Users</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num)
        </td>
        <td>
            @foreach (D40.Models.SoftwareName sn in item.Users)
            {
                <span>@sn.User.First_Name</span> <span>@sn.User.Last_Name, </span>
            }
        </td>
        <td>
            @Html.ActionLink("Delete Software", "deleteSoftware", new { id=item.ID})
        </td>
    </tr>
}

</table>
